<!doctype html>


    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <title>Automating execution of files</title>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>

        div#outer {
            margin: 20px;
            padding: 10px;
            position: relative;
            left: 15%;
        }
</style>

    </head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo center">Illinois Institute of Technology
            </div>

        </div>
    </nav>

<div id="outer">
  <h4>Click Run button to run the code.  </h4>

<form >


  <button class="btn waves-effect waves-light" type="submit" formaction="run1">Run Tessearct code
    <i class="material-icons right">send</i>
  </button>
  <button class="btn waves-effect waves-light" type="submit" formaction="run2">Run Scheduler code
    <i class="material-icons right">send</i>
  </button>


</form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
